[submodule "repos/antigen"]
	path = repos/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "repos/dircolors-solarized"]
	path = repos/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "repos/solarized"]
	path = repos/solarized
	url = https://github.com/altercation/solarized.git
[submodule "ssh_helper"]
	path = ssh_helper
	url = https://bitbucket.org/codisms/ssh_helper.git
[submodule "db"]
	path = db
	url = https://bitbucket.org/codisms/db.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
