*.swp
*.swo

.DS_Store

vim/.netrwhist
vim/autoload
vim/bitmaps
vim/bundle
vim/colors
vim/doc/dbext.txt

ssh/joyent_machine_list.json
ssh/known_hosts

bin/payoff-vpn.pid

tmux/plugins
tmux/resurrect

elinks/bookmarks
elinks/cookies
elinks/globhist
elinks/formhist
elinks/gotohist
